[Unit]
Description=Lock the screen on resume from suspend
Before=suspend.target

[Service]
Type=forking
User=jlecoq
Environment=DISPLAY=":0"
ExecStart=/usr/bin/bash /home/jlecoq/scripts/lock.sh

[Install]
WantedBy=suspend.target
WantedBy=sleep.target
